html {
    font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    line-height: 1.2;
    word-wrap: break-word;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}

.App {
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
